* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../images/1920.jpg);
  background-size: cover; /* Растягиваем картинку на весь экран, сохраняя пропорции и обрезая лишнее */
  background-attachment: fixed; /* Фиксируем фоновое изображение, если вы хотите, чтобы оно оставалось на месте при прокрутке */
  background-position: center; /* Центрируем фоновое изображение */
  font-family: 'Caveat', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'EB Garamond', serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background-color: rgb(33, 32, 38);
}

p{
  color: rgb(0, 0, 0);
}

.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: rgb(0, 0, 0);
}

.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: rgb(255, 255, 255);
  display: inline-block;
  vertical-align:top;
}

.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}

.menu-main a, .menu-main a:visited {color: #ffffff;}
.menu-main a.current, .menu-main a:hover{color: #009dff;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: rgb(80, 246, 255);
  transition: .8s;
}

.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
    padding: 25px 0 20px; 
    margin: 0 30px;
  }
}
  
.stars {
  font-size: 24px; /* Set the font size for the stars */
  color: gold;
}

.modal {
  background-image: url(../images/pngwin.png);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(41, 41, 41, 0.4);
}
  
.modal-content {
  background-color: rgb(255, 255, 255);
  margin: 15% auto;
  padding: 20px;
  border: 3px solid rgb(0, 162, 255);
  color: rgb(0, 0, 0);
  /* Установка размеров модального окна */
  width: 80%; /* установите желаемую ширину */
  height: 70%; /* установите желаемую высоту */
}
 
h2{
font-size: xx-large;
text-align: center;
color: rgb(0, 12, 36);
font-family: 'Caveat', cursive;
font-family: 'Cinzel', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'EB Garamond', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
}

.ht , .hp , .hr , .hl , .hf , .he , .hc , .hm {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 0 auto;
}
  
@keyframes borderAnimation {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 183, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 242, 255, 0.7);
  }
}

.button-container {
  display: flex;
  justify-content: center;

}

.button-container button {
  margin: 100px;
  padding: 10px 10px;
  height: 130px;
  width: 300px;
  font-size: xx-large;
  background-color: #3cdeff;
  color: whitesmoke;
  animation: borderAnimation 4s infinite;
  border: 3px solid rgb(118, 173, 255);
  border-radius: 30px;
  font-family: 'Caveat', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'EB Garamond', serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.navig{
  font-family: 'Caveat', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'EB Garamond', serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;

}

.p1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Caveat', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'EB Garamond', serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.closeModal {
  color: #000dff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
  
.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}
  
.al img , .ak img , .as img , .aq img , .av img , .ad img , .az img , .aa img{
  width: 1000px;
  border: 3px solid rgb(0, 60, 255);
}

.textt , .tex , .texx , .texw , .texs , .texo , .texl , .texlk{
  width: 700px;
  font-family: 'Caveat', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'EB Garamond', serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

span{
  color: rgb(0, 115, 255);
  font-size: x-large;
  font-family: 'Caveat', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'EB Garamond', serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.main__block .block img {
  width: 70%;
  height: 370px;
}

.main__block .block {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

.main__block .block button {
  border: 1px solid #ffffff;
  background: rgb(2, 222, 237);
  color: #ffffff;
  padding: 10px;
  border-radius: 16px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Caveat', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'EB Garamond', serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
  
}

.main__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 450px;
  text-align: center;
}

div {
  display: block;
}  

footer{
  padding-top: 50px;
  text-align: center;
  font-family: 'Caveat', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'EB Garamond', serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
